<htm>
  <head>
    <title>{{title}}</title>
    <style>
      body{width: auto; text-align: center;} form{width:10px;margin-left: 300px;}
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel='stylesheet' href='/style/style.css' />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
  </head>
  <body>
 <header class="site-header">
      <nav>
        <div class="dropdown">
          <span>القائمة الرئيسية <i class="fa-solid fa-list"></i></span>
          <div class="dropdown-content" style="display: none;">
            <a class="a__item" href="/">ةشهى</a><br />
            <a class="a__item" href="/pages/book">الكتب</a><br />
            <a class="a__item" href="/pages/turbulence">الإضطررابات </a><br />
            <a class="a__item" href="/pages/scientists">سير العلماء</a><br />
           <button disabled style="border:none;">  <span style=" border-radius:15px 15px 30px; background:rgba(79, 99, 99, 0.07);;
  padding:10px;width:30px;height:30px; margin-top: 20px; color:blue;font-size:15px;padding-top:10px; margin-top:10px;">قريباً</span> الاختبارات و المقاييس</button></a>
            <a class="a__item" href="/pages/about">من نحن</a><br />
            </ul>
          </div>
        </div>
      

        <ul>
          <li class="nav__item"><a class="a__item" href="/pages/singin" style="margin-bottom:10px;"> SingIn</a></li>
          <li class="nav__item"><a class="a__item" href="/pages/signup" style="margin-bottom:10px;">SignUp</a></li>
          <li class="nav__item"><a class="a__item" href="/pages/companys">Companys</a></li>
          <li class="nav__item"><a class="a__item" href="/pages/parts">Automotive Parts</a></li>
          <li class="nav__item"><a class="a__item" href="/pages/about">About Us  </a></li>
        </ul>
      </nav>
    </header>
 
  <body>
    <form action="/pages/newUser" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" dir="rtl">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="name"
                    aria-describedby="emailHelp" value="">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" dir="rtl"> Username</label>
                <input type="text" class="form-control" name="userName" id="exampleInputPassword1" value="">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" dir="rtl">email </label>
                <input type="text" class="form-control" name="email" id="exampleInputPassword1" value="">
            </div>

             <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" dir="rtl">password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" dir="rtl">Phone Number </label>
                <input type="text" class="form-control" name="phonNumber" id="exampleInputPassword1" value="">
            </div><br/><br/>

        
            <button type="submit" class="btn btn-primary">SignUp</button>
        </form>

    </div>
  </body>
</htm>